
#preview{
	width: 150px;
	height: 170px;
	margin: 5px auto;
	position: relative;
	background: #e3e7f0;
}

#preview a{
	position: absolute;
	bottom: 5px;
	left:  5px;
	right: 5px;
	display: none;
}
 #file-select{
 	color:	#DDEAF6;
 	background: rgba(64, 153, 255, 0.8);
 }

#file-info{
	text-align: center;
	display: block;

}

input[type="file"]{
	
	position: absolute;
	visibility: hidden;
	width: 0;
	z-index: -9999;
}

#file-save{
text-align: center;

}

/*botones______________*/






 